:root {
    --accent-color: #192030;
    --shadow-color: #171B24;
    --block-color: #DFDFDF;
    --background-color: #cfcfcf;
    --text-color: #000;
    --btn-color: #192030;
    --btn-text-color: #fff;
}

[data-theme="dark"] {
    --accent-color: #192030;
    --shadow-color: #171B24;
    --block-color: #272727;
    --background-color: #202020;
    --text-color: #ffffff;
    --btn-color: #fff;
    --btn-text-color: #000;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    width: none;
}

body {
    overflow: hidden;
}

hr {
    color: #fff;
}

.btn {
    padding: .3rem .6rem;
    border: 1px solid var(--btn-color);
    border-radius: 8px;
    color: var(--btn-color);
    font-size: 1.3rem;
    outline: none;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.btn-create {
    margin-left: auto;
    width: max-content;
}
.btn:hover {
    background: var(--btn-color);
    color: var(--btn-text-color);
}

main {
    display: grid;
    grid-template-columns: 450px auto;
    grid-template-rows: 75px auto;
    min-width: 100%;
    min-height: 100svh;
    transition: all .3s ease-in-out;

    & nav {
        grid-area: 1 / 1 / 3 / 2;
        background: var(--accent-color);
        box-shadow: 10px 0 30px -10px var(--shadow-color);
        padding: 15px;
        overflow: hidden;
        position: relative;
        z-index: 2;

        & .logo {
            margin: 0 auto;
            display: block;
            transition: margin .3s ease-in-out;
        }

        & ul {
            display: flex;
            flex-direction: column;
            gap: 1.5rem;
            list-style: none;
            margin: 2rem 0 2rem 1rem;
            padding: 0;

            & li {
                color: #fff;

                & a,
                & label {
                    display: block;
                    overflow: hidden;
                    text-wrap: nowrap;
                    text-decoration: none;
                    font-size: 1.5rem;
                    color: #fff;
                    padding: 3px 0;
                    cursor: pointer;
                }

                & i {
                    width: 32px;
                    height: 32px;
                    margin-right: 1.5rem;
                }

                & i:before {

                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            & li a:hover,
            & li label:hover,
            & .active {
                color: #0a53be;
                background: rgba(255, 255, 255, 0.05);
                backdrop-filter: blur(10px);
                box-shadow: 0 0 10px rgba(255, 255, 255, 0.05);
            }

            & .active {
                color: #fff;
            }
        }

        .version {
            margin-top: 4rem;
            color: gray;
            font-size: .65rem;
            width: max-content;
            display: block;
            position: relative;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }

    & header {
        position: relative;
        grid-area: 1 / 2 / 2 / 3;
        background: var(--block-color);;
        box-shadow: 0 -10px 30px -10px var(--shadow-color);
        display: flex;
        width: 100%;
        height: 75px;
        padding: .5rem 1.5rem;
        justify-content: space-between;
        align-items: center;
        color: var(--text-color);

        & .user_nav {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;

            & .logout {
                padding: .5rem 1rem;
                width: 4.125rem;
                height: 4.125rem;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.4rem;
                text-decoration: none;
                color: var(--text-color);
                border-radius: .5rem;
            }
        }

        & .user_block {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
            padding: .5rem 1rem;
            border-radius: 8px;
            text-decoration: none;
            color: var(--text-color);
            font-size: 1.4rem;

            & .avatar,
            & img {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;
                background: var(--accent-color);
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                font-size: 1.3rem;
            }
        }

        & .user_block:hover,
        & .logout:hover {
            background: var(--background-color);
        }
    }

    & .content {
        grid-area: 2 / 2 / 3 / 3;
        background: var(--background-color);
    }
}

main.deactivate {
    grid-template-columns: 95px auto;

    & nav {
        & .logo {
            margin: 0;
            transition: margin .3s ease-in-out;
        }

        & .active {
            color: #fff;
            margin-right: 15px;
        }
    }
}

.page {
    margin: 1.5rem;
    padding: 1rem;
    background: var(--block-color);
    border-radius: 8px;
    height: calc(100svh - 75px - 3rem);
    overflow: hidden;
    overflow-y: scroll;
    color: var(--text-color);

    & .line_grafic {
        width: 100% !important;
        height: 700px !important;
        display: block;
    }

    & .form__wrapper {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        & .logo_block {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 350px;
            height: 600px;
            background: var(--accent-color);
            border: 1px solid var(--btn-color);
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }

        & form {
            width: 350px;
            height: 600px;
            display: flex;
            overflow: scroll;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border: 1px solid var(--btn-color);
            border-left: none;
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            padding: 1.5rem;
            gap: .5rem;

            & .form-group {
                width: 100%;

                & .label {
                    font-size: 1.2rem;
                }

                & input {
                    width: 100%;
                    outline: none;
                    background: none;
                    border: none;
                    border-bottom: 1px solid var(--btn-color);
                }

                & .error {
                    color: red;
                }
            }

            & .password_show {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: .5rem;
                cursor: pointer;
            }

            & button {
                margin-top: auto;
                width: 100%;
            }
        }
    }
}

.profile__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    & .profile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 1rem;

        & img,
        & .avatar {
            grid-area: 1 / 1 / 4 / 2;
            width: 225px;
            aspect-ratio: 1;
            object-fit: cover;
            background: var(--accent-color);
            border-radius: 50%;
            margin: 0 auto;
            font-size: 5rem;
            color: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & h1 {
            grid-area: 1 / 2 / 2 / 3;
        }

        & .btn:first-child {
            width: max-content;
        }

        & .app {
            font-size: 1.2rem;
        }

        & .form-swiper {
            display: flex;
            gap: .5rem;
            width: 100%;
            flex-direction: column;

            & .input {
                width: 100%;
                outline: none;
                border: none;
                border-bottom: 1px solid var(--accent-color);
            }

            & .edit_avatar {
                cursor: pointer;
            }

            & .edit_avatar label {
                width: 100%;
                text-align: center;
            }
        }

        & .form_deactivate {
            display: none;
        }
    }
}

.content {
    position: relative;

    & .notification {
        position: absolute;
        right: 30px;
        bottom: 30px;
        /*padding: 2rem 4rem;*/
        width: 350px;
        height: 75px;
        display: flex;
        justify-content: center;
        align-items: center;
        animation: anim_end .5s 5.5s ease-in-out forwards;
        font-size: 1.1rem;
        color: #fff;
    }

    & .notification:after {
        content: "";
        width: 100%;
        height: 5px;
        background: rgba(255, 255, 255, 0.25);
        position: absolute;
        top: 0;
        right: 0;
        animation: notification_timer 5s linear forwards;
    }

    & .notification.true {
        background: #78aa28;
    }

    & .notification.false {
        background: #930a0d;
    }
}

@keyframes notification_timer {
    to {
        width: 0;
    }
}

@keyframes anim_end {
    to {
        transform: translateX(150%);
        display: none
    }
}

.verification__wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & form {
        display: flex;
        flex-direction: column;
        gap: .5rem;

        & input {
            width: 100%;
            outline: none;
            border: none;
            background: none;
            border-bottom: 1px solid var(--accent-color);
        }
    }
}

.create__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    & form {
        display: flex;
        flex-direction: column;
        gap: .5rem;
        font-size: 1.1rem;

        & input, textarea {
            width: 100%;
            outline: none;
            border: none;
            background: none;
            border-bottom: 1px solid var(--accent-color);
        }

        & textarea {
            min-height: 3ch;
            max-height: 13ch;
            height: 6ch;
        }

        & .photo,
        & .additional_photos {
            & img {
                width: 150px;
                aspect-ratio: 1;
                object-fit: cover;
                border-radius: .5rem;
            }
        }

        & .photo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        & .additional_photos {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-column-gap: 1rem;
            grid-row-gap: .5rem;

            & label div {
                display: none;
            }

            & span {
                grid-area: 2 / 1 / 3 / 4;
                margin: 0 auto;
            }
        }

        & .error {
            color: red;
        }
    }
}

.application__wrapper {
    width: max-content;
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;

    & .app_card {
        width: max-content;

        & .swiper-container {
            width: max-content;
            object-fit: cover;

            & img {
                width: 450px;
            }
        }

        & .swiper-button-prev,
        & .swiper-button-next {
            display: none;
        }
    }
}